/** @format */

.display {
	display: flex;
	justify-content: center;
	margin-bottom: 10vh;
}
.display-wrapper {
	display: flex;
	flex-direction: column;
}
.dis-items {
	display: flex;
	width: 90vw;
	background-color: white;
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 0 5px 7px 1px lightgrey;
}
.dis-items img {
	width: 100px;
	height: auto;
	border-radius: 10px;
	object-fit: cover;
}
.dis-des {
	width: 90%;
}
.dis-details {
	padding: 5px 10px;
	width: -webkit-fill-available;
}
.section {
	display: flex;
	justify-content: space-between;
}
.section span {
	padding: 5px 0;
	color: gray;
	font-weight: 600;
}
.dis-title {
	font-size: 23px;
	font-weight: 600;
}
